<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title>Flight Planning</title>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <link rel="stylesheet" href="style.css">
        <script src="unit_conversion.js"></script>
        <script src="aircraft_data.js"></script>
    </head>
    <body>
        <div id="warning">
            <h1>Warning!</h1>
            <strong>Always</strong> verify calculations using an indepentent tool.
            This software can and will produce <strong>incorrect</strong> results due to bugs or faulty input data.
            The pilot is <strong>always</strong> responsible to for the safe and correct operation of the aircraft.
            <h1>Warning!</h1>
        </div>
        <div id="app">
            <label for="registration">Registration</label>
            <select id="registration" v-model="reg">
                <option>SE-MMZ</option>
                <option>SE-LRL</option>
                <option>SE-IUD</option>
                <option>SE-KIT</option>
                <option>SE-KMH</option>
                <option>SE-EMW</option>
            </select>
            <h2>Route</h2>
            <p>
                <label for="wind_angle">Wind angle</label>
                <input id="wind_angle" type="number" v-model="wind_angle">
                <span class="unit">[deg]</span>
                <label for="wind_speed">Wind speed</label>
                <input id="wind_speed" type="number" v-model="wind_speed">
                <span class="unit">[kt]</span>
                <label for="magnetic_variation">Magnetic variation</label>
                <input id="magnetic_variation" type="number" v-model="variation">
                <span class="unit">[deg]</span>
            </p>
            <p>
                <label for="cruise_airspeed">Cruise airspeed</label>
                <input id="cruise_airspeed" type="number" :value="aircraft.cruise_speed.toFixed(1)" disabled>
                <span class="unit">[kt]</span>
                <label for="fuel_consumption">Fuel consumption</label>
                <input id="fuel_consumption" type="number" :value="aircraft.fuel_consumption.toFixed(1)" disabled>
                <span class="unit">[l/h]</span>
                <label for="climb_vertical_speed">Climb performance</label>
                <input id="climb_vertical_speed" type="number" :value="aircraft.climb_vertical_speed.toFixed(1)" disabled>
                <span class="unit">[ft/min]</span>
            </p>
            <p>
                <label for="date_of_flight">Date of flight</label>
                <input id="date_of_flight" type="date" v-model="date_of_flight">
                <label for="departure_time">Departure time (local)</label>
                <input id="departure_time" type="time" v-model="departure_time">
                <label for="cruise_altitude">Cruise altitude</label>
                <input id="cruise_altitude" type="text" v-model="cruise_altitude">
                <span class="unit">[ft]</span>
            </p>
            <table>
                <thead>
                    <tr>
                        <td></td>
                        <td>From</td>
                        <td>TT <span class="unit">[deg]</span></td>
                        <td>Dist. <span class="unit">[NM]</span></td>
                        <td>To</td>
                        <td>CH <span class="unit">[deg]</span></td>
                        <td>ETO (local)</td>
                        <td>TOL <span class="unit">[min]</span></td>
                        <td>Fuel req. <span class="unit">[l]</span></td>
                        <td>WCA</td>
                        <td>TH</td>
                        <td>GS</td>
                        <td>Climb <span class="unit">[min]</span></td>
                    </tr>
                </thead>
                <tr v-for="(leg, i) in route">
                    <td>
                        <input class="symbtn" type="button" value="+" @click="add_route_leg(i)">
                        <input class="symbtn" type="button" value="-" @click="del_route_leg(i)">
                    </td>
                    <td><input type="text" v-model="leg.from"></td>
                    <td><input type="number" v-model="leg.true_track"></td>
                    <td><input type="number" v-model="leg.distance"></td>
                    <td><input type="text" v-model="leg.to"></td>
                    <td class="ct"><strong>{{ route_info[i].compass_heading.toFixed(1) }}</strong></td>
                    <td class="ct">{{ route_info[i].estimated_time_over }}</td>
                    <td class="ct">{{ route_info[i].time_on_leg.toFixed(1) }}</td>
                    <td class="ct">{{ route_info[i].fuel_required.toFixed(1) }}</td>
                    <td class="ct">{{ route_info[i].wind_correction_angle.toFixed(1) }}</td>
                    <td class="ct">{{ route_info[i].true_heading.toFixed(1) }}</td>
                    <td class="ct">{{ route_info[i].ground_speed.toFixed(1) }}</td>
                    <td class="ct">{{ route_info[i].climb_time.toFixed(1) }}</td>
                </tr>
                <tfoot>
                    <tr>
                        <td></td>
                        <td class="ct" colspan="6">Total time and fuel required</td>
                        <td class="ct"><strong>{{ time_on_route.toFixed(1) }}</strong></td>
                        <td class="ct"><strong>{{ total_fuel_required.toFixed(1) }}</strong></td>
                        <td colspan="4"></td>
                    </tr>
                <tfoot>
            </table>
            <h2>Weight and Balance</h2>
            <label for="fuel_volume">Fuel volume (max {{ aircraft.max_fuel_volume.toFixed(1) }})</label>
            <input id="fuel_volume" type="number" v-model="fuel_volume">
            <span class="unit">[l]</span>
            <table>
                <thead>
                    <tr>
                        <td>Item</td>
                        <td>Weight <span class="unit">[kg]</span></td>
                        <td>Arm <span class="unit">[cm]</span></td>
                        <td>Moment <span class="unit">[kg cm]</span></td>
                    </tr>
                </thead>
                <tr>
                    <td>Basic Empty Weight</td>
                    <td class="ct">{{ aircraft.bew.toFixed(1) }}</td>
                    <td class="ct">{{ aircraft.arm['BEW'].toFixed(1) }}</td>
                    <td class="ct">{{ moment('BEW').toFixed(1) }}</td>
                </tr>
                <tr v-for="name in ['Front seats', 'Rear seats', 'Baggage']">
                    <td>{{ name }}</td>
                    <td class="ct"><input type="number" v-model="weight[name]"></td>
                    <td class="ct">{{ aircraft.arm[name].toFixed(1) }}</td>
                    <td class="ct">{{ moment(name).toFixed(1) }}</td>
                </tr>
                <tr>
                    <td>Fuel</td>
                    <td class="ct">{{ fuel_volume }} l = {{ fuel_weight }} kg</td>
                    <td class="ct">{{ aircraft.arm['Fuel'].toFixed(1) }}</td>
                    <td class="ct">{{ moment('Fuel').toFixed(1) }}</td>
                </tr>
                <tfoot>
                    <tr>
                        <td>Ramp</td>
                        <td class="ct"><strong>{{ ramp_weight.toFixed(1) }}</strong></td>
                        <td class="ct"><strong>{{ ramp_arm.toFixed(1) }}</strong></td>
                        <td class="ct">{{ ramp_moment.toFixed(1) }}</td>
                    </tr>
                    <tr>
                        <td>Dry</td>
                        <td class="ct"><strong>{{ dry_weight.toFixed(1) }}</strong></td>
                        <td class="ct"><strong>{{ dry_arm.toFixed(1) }}</strong></td>
                        <td class="ct">{{ dry_moment.toFixed(1) }}</td>
                    </tr>
                </tfoot>
            </table>
            <h2>ATC flight plan</h2>
            <table>
                <tr>
                    <td>7</td>
                    <td>Aircraft identification</td>
                    <td>{{ reg.replace('-', '') }}</td>
                </tr>
                <!-- <tr>
                    <td>8</td>
                    <td>Flight rules and type of flight</td>
                    <td>VG</td>
                </tr> -->
                <!-- <tr>
                    <td>9</td>
                    <td>Number and type of aircraft and wake turbulence category</td>
                    <td>1 P28A L</td>
                </tr> -->
                <tr>
                    <td>10</td>
                    <td>Equipment and capabilities</td>
                    <td>{{ aircraft.atc_equipment }}</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Departure aerodrome and time</td>
                    <td>{{ atc_departure + atc_departure_time }}</td>
                </tr>
                <tr>
                    <td>15a</td>
                    <td>Cruising speed</td>
                    <td>{{ 'N' + aircraft.cruise_speed.toFixed(0).padStart(4, '0') }}</td>
                </tr>
                <tr>
                    <td>15b</td>
                    <td>Cruising level</td>
                    <td>{{ 'A' + (cruise_altitude / 100).toFixed(0).padStart(3, '0') }}</td>
                </tr>
                <tr>
                    <td>15c</td>
                    <td>Route</td>
                    <td>{{ atc_route }}</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Destination aerodrome and total EET</td>
                    <td>{{ atc_destination + atc_route_eet }}</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Other information</td>
                    <td>{{ aircraft.atc_other_info + atc_other_departure + atc_other_destination + atc_date_of_flight }}</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Emergency and survival equipment</td>
                    <td>{{ aircraft.atc_survival_info }}</td>
                </tr>
            </table>
        </div>
        <script src="main.js"></script>
    </body>
</html>
