/* Hide arrows/spinners on number inputs to reduce risk of mistakes. */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

/* Warning message. */
#warning {
    text-align: center;
    padding: 3px;
    border: 2px solid red;
    border-radius: 6px;
    margin-bottom: 2em;
}
#warning > h1 {
    color: red;
    display: inline;
    font-size: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

/* Center app. */
#app {
    width: 80%;
    margin: 0 auto;
}

/* Make inputs less wide. */
input[type=number] {
    width: 6em;
}
input[type=text] {
    width: 8em;
}

/* Add borders to table cells. */
table {
    border-collapse: collapse;
}
td {
    border: 1px solid black;    
}

/* Don't wrap text in table cells. */
td {
    white-space: nowrap;
}

/* Add more padding. */
table {
    padding: 5px;
}
label {
    padding-left: 21px;
    padding-right: 3px;
}
input {
    padding-left: 3px;
    padding-right: 3px;
}
.unit {
    padding-left: 2px;
    padding-right: 2px;
}
td {
    padding-left: 3px;
    padding-right: 3px;
}

/* Center numeric table cell data and input data. */
td.ct {
    text-align: center;
}
input {
    text-align: center;
}

/* Make buttons with symbols a consistent size. */
input.symbtn {
    width: 2em;
}

/* Make inputs in tables fill whole cell. */
td > input[type=number], td > input[type=text] {
    width: 8em;
    margin: 0;
    box-sizing: border-box;
}
